.topBar{
    background: #F9F9F9;
    height:50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.blueBox{
    background: #29b0c4;
    color: #F9F9F9;
}
.special{
    border-left: 1px solid ;
    border-color: #F9F9F9;
}
.circle{
    background: #29b0c4;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    background: #29b0c4;
    color: #F9F9F9;
    margin: 15px 5px 15px 5px;
    padding: 5px 15px;
    border:0px;
}

.inputBox{
    width: 90%;
    margin: 30px 0 0 0;
    border-width: 0 0 2px;
    outline:0;
}


.space{
    width:98%;
    margin:0 10px 0 10px;
}

.title{
    font-size:24px;
}